body{
	padding: 0;
	margin: 0;
	font-family: 'Nova Slim', cursive;
}
header{
	background-image: url('bg2.jpg');
	background-size: contain;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	color:white;
	height: 400px;
	font-size: 1.5rem;
	font-family: 'Nova Square', cursive;
}
ul{
	list-style-type: none;
	margin:0;
	padding-left: 0;
	margin-bottom: 20px;
	margin-top:20px;
}
li{

	display: inline-block;
	margin-left: 20px;
}
.dropdown{
	position: fixed;
	visibility: hidden;
}
.dropdown-content{
	position:fixed;
	display: none;
	top:40px;
	right:20px;
	width:100%;
	height:auto;
}
.dropdown-content div{
	background-color: grey;	
}
@media screen and (max-width: 700px){
	.dropdown{
		visibility: visible;
		position: fixed;
		top:20px;
		right:20px;
		cursor: pointer;
	}
	.dropdown:hover .dropdown-content{
		display: block;
		background-color: white;
	}
	#menu{
		visibility: hidden;
	}
}
#menu{
    margin-top: 20px;
}
#menu a{
	backface-visibility: hidden;
	text-decoration: none;
	color:white;
	transition: 1s
}
#menu a:hover{
	color: #c3b9b9;
	border-bottom: 1px solid white;
}
header h1{
	font-size: 4rem;
	margin-bottom: 0;
}
header h1 span{
	background-color: white;
	color:black;
}
.social li{
	margin-left: 5px;
}

.social a{
	display: inline-block;
	box-shadow: 4px 0px 10px #aba7a7 inset;  
	border: 1px solid white;
	padding: 5px 10px;
	color:white;
}
.social a:hover{
  -webkit-transform: scale(1.1);
}

/*  SECTIONS  */
section{
	width: 100%;
	//overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
}
.head-icon{
	margin-top:7px;
}
section:target{
	transition: 2s;
}
section:nth-child(2n){
	background-color: #f3f3f3;
}
section:nth-chile(2n+1){
	background-color: beige;
}
.section-heading{
	display: inline-block;
	color:#333;
	margin-top: 0;
}
.icon{font-size: 2rem;margin-right: 5px;}

/*  ABOUT  */
#about img{
	width: 250px;
	height: 250px;
	border-radius: 250px;
	margin-top: -100px;
	border:1px solid white;
	box-shadow: 0px 0px 8px 4px lightgrey;
}
#about p{
	text-align: center;
	margin:20px 200px 0px 200px;
}

/*    SKILLS    */

.skills-display{
	display: inline-block;
	width:70%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom:20px;
	justify-content: space-around;
	padding-top: 30px;
}
.skills-item{
	margin-bottom: 20px;
	margin-left: 10px;
	border-radius: 5px;
	width:20rem;
	height: 2.6rem;
	padding-left: 10px;
	background-color: #cae6fc;
}
.skills-item div{
	padding: 10px;
	background-color: #2196f3;
	color:white;
	height:2.6rem;
	box-sizing: border-box;
	font-size: 1.2rem;
}

/*   CONTACT  */

#contact{
	padding-top: 20px;
	color:white;
	background-image: linear-gradient(to top right,#2c529c,#403066);
}
#contact h1{
	color:white;
}
.contact-sections{
	width:75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-sections>div{
	font-size: 1rem;
	margin-top: 20px;
}
#c1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#c1 .input{
	width:500px;
	height:30px;
	font-size: 1.2rem;
	margin-bottom: 20px;
	border: none;
	color:white;
	background: transparent;
	border-bottom: 2px solid white;
}
#c1 .input::placeholder{
	color:lightgrey;
	font-size: 1.1rem;
}
#c1 .input:focus{
	outline: none;
}
#c1 button{
	cursor: pointer;
	width:170px;
	height:40px;
	color:white;
	letter-spacing: 1.5px;
	border:2px solid white;
	background: transparent;
}
#c2{
	text-align: right;
}
#c2 p{
	width:600px;
}
#contact ul{
	margin-top:50px;
}

/*    WORK    */
.timeline{
	width:75%;
	position: relative;
	margin:20px;
}
.timeline-box{
	width:40%;
	position: relative;
	height: auto;
	left:5%;
	margin:5px;
}
.timeline-box:nth-child(2n){
	left:54%;
}
.timeline-box:nth-child(2n+1)::after{
	content:'';
	width:0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: lightgrey;
	position: absolute;
	top:38%;
	right:-13.45%;
	z-index: 1;
}
.timeline-box:nth-child(2n)::after{
	content:'';
	width:0.8rem;
	height: 0.8rem;
	border-radius: 50%;
	background-color: lightgrey;
	position: absolute;
	top:40%;
	left:-12.1%;
	z-index: 1;
}
#special:after{
	top:45%;
}
.timeline-divider{
	width:0;
	height:68%;
	border:2px dashed #0096fa6b;
	position:absolute;
	top:15%;
	left:50%;
}
.flight{
	position: sticky;
	top:34%;
	transform: rotate(90deg);
	z-index: 2;
	color:#006bb3;
}
@media only screen and (max-width: 600px){
	#about p{
		margin-left:4px;
		margin-right:4px;
	}
	html{
		font-size: 13px;
	}
	.timeline-box{
		margin-top:50px;
		left:15% !important;
		width:80%;
	}
	.timeline-divider{
		left:6%;
		top:19.5%;
	}
	.timeline-box::after{
		left:-13.5% !important;
	}
}
.logo{
	box-sizing: border-box;
	width: 10%;
	height:50%;
	float: left;
	display: inline-block;
}
.logo img{
	width:45px;
	height:45px;
}
.company{
	float: right;
	text-align: right;
	width:80%;
	height:50%;
	display: inline-block;
}
.company h5{
	margin: 0;
	color:#006bb3;
}
.company h6{
	margin:0;
	color:#df674b;
	margin-top:6px;
	margin-bottom: -7px;
}
.description{
	padding-top: 20px;
	text-align: justify;
	overflow: hidden;
	display: block;	width:100%;
	height:50%;
	font-size:1rem;
	box-sizing: border-box;
	color:grey;	
}
.size1{
	font-size:1rem;
	color:grey;
}

/*   MEDIA QUERIES  */

@media only screen and (max-width: 1400px){
	#c2{
		text-align: center;
	}
}
